NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=learn_auth
DB_PASSWORD=learn_auth_password
DB_NAME=learn_auth

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=replace_me_with_a_long_local_secret
JWT_ACCESS_EXPIRES_IN=15m
